/*
    Template:       airi
    Theme Name:     Airi Child
    Theme URI:      http://themeforest.net/user/LA-Studio/portfolio?ref=LA-Studio
    Author:         LA Studio
    Author URI:     http://themeforest.net/user/LA-Studio?ref=LA-Studio
    Description:    Clean, Minimal WooCommerce Theme
    Version:        1.0
    Tags:           one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, custom-background, custom-colors, custom-header, custom-menu, featured-image-header, featured-images, flexible-header, full-width-template, post-formats, sticky-post, theme-options, translation-ready
    License: 		    GNU General Public License
	  License URI: 	  licence/GPL.txt
    Text Domain:    airi-child
    Domain Path:    /languages/
*/

.section-page-header .la-breadcrumbs {
    text-transform: uppercase;
    font-size: 11px;
}
.customerdefine-404-content {
    display: inline-block;
    margin: 0 auto;
}
.showposts-loop.grid-2.showposts-grid  .loop__item__info2 .loop__item__desc {
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width: 1200px){
    .tp-bullets.larev-dot2.vertical.nav-pos-hor-right.nav-pos-ver-center.nav-dir-vertical {
        transform: none !important;
        left: auto !important;
        right: 10px;
        top: 40% !important;
        width: 40px !important;
    }
    .larev-dot2.tp-bullets .selected .tp-bullet-wrap {
        width: 40px !important;
    }
    .larev-dot2.tp-bullets .tp-bullet{
        max-width: 100%;
    }
}
.wc-toolbar .wc-ordering p,
.btn-advanced-shop-filter{
    color: #282828;
}

.widget_text .banner-type-6 .banner--info {
    left: 20px;
    bottom: 10px;
}
.widget_text .banner-type-6 .banner--info .b-title1 {
    font-size: 49px;
    letter-spacing: 0;
    line-height: 1;
}
.widget_text .banner-type-6 .banner--info .b-title2 {
    font-size: 49px;
    letter-spacing: 0;
    font-weight: bold;
    line-height: 1;
}
.single-product.page-title-v1 .section-page-header {
    text-align: inherit;
    background-color: transparent;
}
.single-product .section-page-header .page-header-inner {
    padding-bottom: 0;
}
.single-product .site-main {
    padding-top: 40px;
}
.site-header .site-branding img {
    margin-top: -10px;
}

.page-id-1146 .section-page-header:before,
.woocommerce-page.woocommerce-account .section-page-header:before,
.woocommerce-page.woocommerce-cart .section-page-header:before{
    background-image: url('./leaf.png');
    background-position: 75% center;
    background-repeat: no-repeat;
}


.more_demo_aside {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    z-index: 9999;
}

.more_demo_aside .demo__aside {
    position: absolute;
    width: 520px;
    background: #fff;
    top: 0;
    right: 0;
    height: 100%;
    padding: 50px;
    box-shadow: 0 1px 26px 0 rgba(0,0,0,0.13);
    visibility: hidden;
    opacity: 0;
    transition: all 400ms ease-out;
    transform: translate(520px, 0);
    -webkit-transform: translate(520px, 0);
    overflow: auto;
}

.open-aside-demo .more_demo_aside .demo__aside{
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
}

.more_demo_aside button {
    color: #fff;
    background: #282828;
    font-size: 14px;
    line-height: 18px;
    border: none;
    width: 76px;
    height: 76px;
    text-align: left;
    padding: 10px;
    position: absolute;
    right: 520px;
    top: 60%;
    transition: all 400ms ease-out;
    transform: translate(520px, 0);
    -webkit-transform: translate(520px, 0);
}

.open-aside-demo .more_demo_aside button{
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
}

.more_demo_aside .demo__aside .la-tabs {
    margin-bottom: 25px;
    padding: 0;
    list-style: none;
}

.more_demo_aside .la-tab{
    display: none;
}

.more_demo_aside .demo__aside .la-tabs li {
    margin-right: 10px;
    display: inline-block;
}

.more_demo_aside .demo__aside li a {
    padding: 8px 0;
    position: relative;
    display: block;
    line-height: 20px;
    color: #282828;
}

.more_demo_aside .demo__aside li.active a:after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: #CF987E;
    position: absolute;
    bottom: 0;
    left: 0;
}
.demo__aside_flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.demo__aside_flex .demo-item {
    width: 46%;
    margin-bottom: 5%;
    padding-bottom: 40px;
    position: relative;
    transition: all .3s;
}

.demo__aside_flex .demo-item .item-inner {
    background-size: cover;
    background-position: center top;
}

.demo__aside_flex .demo-item .item-inner a {
    display: block;
    color: #282828;
    padding-bottom: 100%;
    position: relative;
}
.demo__aside_flex .demo-item .item-inner a:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: all .3s;
    background: #000;
    opacity: 0.1;
}
.demo__aside_flex .demo-item .item-inner a span {
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    font-size: 13px;
    transition: all .3s;
}
.demo__aside_flex .demo-item:hover{
    box-shadow: 0 1px 26px 0 rgba(0,0,0,0.13);
}
.demo__aside_flex .demo-item:hover .item-inner a:before{
    opacity: 0;
}
.demo__aside_flex .demo-item:hover .item-inner span{
    left: 10px;
    font-weight: bold;
}

.admin-bar .more_demo_aside .demo__aside {
    padding-top: 80px;
}

@media(max-width: 767px){
    .more_demo_aside .demo__aside{
        width: 280px;
        padding: 20px;
        transform: translate(280px, 0);
    }
    .admin-bar .more_demo_aside .demo__aside{
        padding-top: 20px;
    }
    .more_demo_aside button {
        right: 280px;
        transform: translate(280px, 0);
        font-size: 12px;
        width: 50px;
        height: 60px;
        padding: 5px;
        font-family: sans-serif;
    }
    .open-aside-demo .more_demo_aside .demo__aside,
    .open-aside-demo .more_demo_aside button{
        transform: translate(0, 0);
    }
    .more_demo_aside .demo__aside .la-tabs {
        display: none;
    }
    .more_demo_aside .la-tab {
        display: block !important;
    }
}
.comments-area .woocommerce-noreviews {
    display: none;
}